.filter{
	background-color:white;
	width:100%;
	height:70px;
	border:1px solid #DDDDDD;
	border-radius: 4px;
	align-items:center;
    margin-left: 8px;    
}

button{
	font-size:18px;
	background-color:#FF5A5F;
	color:#FFFFFF;
	height:48px;
	width:20%;
	border:none;
	border-radius:4px;
	float: right;
	margin-right:30px;
	margin-top: 10px;
    padding-top: 10px;
}

button:hover{
	opacity:90%;
}

.locations{
    height: 100%;
    width: 25%;
    border-right:1px solid #DDDDDD;
    display:inline-block;
    padding-left: 50px; 
}
.amenities{
    display: inline-block;
    height: 100%;
    width: 25%;
    padding-left: 50px;
    padding-bottom: ;
    padding-top: px;
}

h3{
    font-weight: 600;
    margin:0;
    padding:0;
}
h4{
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
.popover{
    display: none;
  position: absolute;
  background-color: #FAFAFA;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  text-decoration: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .popover{
    display:block;
}